examples/n8n-workflow.json
{
  "name": "MailCat Email Verification Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.mailcat.ai/mailboxes",
        "options": {},
        "method": "POST"
      },
      "id": "create-mailbox",
      "name": "Create Mailbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.mailcat.ai/inbox",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-inbox",
      "name": "Check Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "MailCat Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.pagination.totalCount }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "=https://api.mailcat.ai/emails/{{ $json.data[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "read-email",
      "name": "Read Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "MailCat Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "verification_code",
              "value": "={{ $json.code }}"
            },
            {
              "name": "verification_links",
              "value": "={{ $json.links.join(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-code",
      "name": "Extract Code",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1250, 200]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Create Mailbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mailbox": {
      "main": [
        [
          {
            "node": "Check Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inbox": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Read Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Check Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Email": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
